
@{
    Layout = "~/Content/_Layout.cshtml";
}

<h2>SchoolNexus</h2>
<p>Welcome to SchoolNexus Management System.
    <br />To get started, Login by clicking the icon on the right and entering your credentials.
    <br />You can then select any option from the sidebar on the left.
</p>

